.blog-gallery {
  position: relative;

  &__title {
    font-size: 1.25rem; //20px
    color: $text-decoration;
  }

  &__item {
    &:hover .blog-gallery__text-title {
      color: $text-hover;
    }

    &:hover .blog-gallery__btn {
      background-color: $text-hover;
      color: $white;
    }
  }

  &__data {
    font-size: 0.875rem; //14px
  }

  &__item-text {
    background-color: $white;
    width: 90%;
    position: relative;
    top: -50px;
    left: 6%;
  }

  &__text-title {
    font-size: 1.0625rem; //17px
    font-weight: bold;
  }

  &__btn {
    outline: none;
    padding: 0.75rem 2.1875rem;  //12px 35px
    background-color: $background-secondary;
  }

  &__progress {
    height: 4px;
  }

}

.progress-bar {
  width: 50px;
  background-color: $text-decoration;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e2e2e2;
  opacity: 1;
  margin: 0 5px;
}

.carousel-indicators li.active {
  background-color: $text-decoration;;
}

.blog__gallery-carousel-control-prev-icon,
.blog__gallery-carousel-control-next-icon {
  background-image: none;
}