.footer {
  background-color: $background-secondary;

  &__socials-list {
    margin-top: 16px;
  }

  &__copy-right {
    color: $text-secondary;
  }

  &__social-icon {
    color: $text-secondary;

    &:hover {
      color: $text-hover;
    }

  }
}
