.footer-nav {
 background-color: $background-primary;

  &__header {
    color: $white;
  }

  &__link {
    color: $text-secondary;

    &:hover {
      color: $text-secondary;
      padding-bottom: 3px;
      border-bottom: 2px solid $text-secondary;
    }
  }


  &__credit-card {
    background-image: url(../images/creditcards.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 28px;
  }

  &__credit-card1 {
    background-position: -250px -10px;

  }
  &__credit-card2 {
    background-position: -190px -10px;
  }
  &__credit-card3 {
    background-position: -130px -10px;
  }
  &__credit-card4 {
    background-position: -70px -10px;
  }
  &__credit-card5 {
    background-position: -10px -10px;
  }
}

