@import "variables";

.furniture-gallery {
  margin-top: 70px;
  margin-bottom: 20px;
}

.furniture-gallery-side-slider {
  padding-bottom: 25px;
}
/*TABS*/
.furniture-gallery-tab-item{
  color:$black;
  font-size: 14px;
  font-weight: bold;
}
.furniture-gallery-tab .active {
  border-top:(3px solid $orange !important);
  background-color: ($gray-200 !important);
  border-bottom: (1px solid $gray-200 !important);
}
/* END TABS*/

/*Slider */
.furniture-gallery-slider {
  position: relative;
  margin-bottom: 40px;
}
.furniture-gallery-slider-indicator-pic {
  width:70px;
  height: 70px;
  background-color: $gray-light;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.furniture-carousel-button{
  position: absolute;
  top:99%;
  bottom:0;
  width:33px;
  height: 68px;
  opacity: 1;
  background-color: $gray-800;
  z-index:100;
}

.furniture-indicator-list{
  overflow: auto;
  width: 90%;
  height: 75px;
  left:-10%;
  top:97.5%;
  right:20%;
  position:absolute;
  justify-content: flex-start;

}

/* Images for Indicators */
.top-seller {
  &-1{background-image: url("../images/furniture-gallery/top-seller-1.png");}
  &-2{background-image: url("../images/furniture-gallery/top-seller-2.png");}
  &-3{background-image: url("../images/furniture-gallery/top-seller-3.png");}
  &-4{background-image: url("../images/furniture-gallery/top-seller-4.png");}
  &-5{background-image: url("../images/furniture-gallery/top-seller-5.png");}
  &-6{background-image: url("../images/furniture-gallery/top-seller-6.png");}
  &-7{background-image: url("../images/furniture-gallery/top-seller-7.png");}
  &-8{background-image: url("../images/furniture-gallery/top-seller-8.png");}
  &-9{background-image: url("../images/furniture-gallery/top-seller-9.png");}
  &-10{background-image: url("../images/furniture-gallery/top-seller-10.png");}
}


.furniture-gallery-slider-item {
  //background-image: url("../images/furniture-gallery/top-seller-1.png");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
   background-color:$gray-200;
  min-width:450px;
  height: 430px;
  padding-bottom: 70px;
}
.furniture-gallery-slider-indicator-li {
  width: (75px !important);
}

/* STAR RATING */
.furniture-gallery-slider-item {
  &-rating {
    position:absolute;
    bottom: 10%;
    right:10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    width:249px;
    height: 106px;
  }
  &-rating:before {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: -1px;
    content: '';
    z-index: 1;
    clip-path: polygon(100% 51%, 61% 100%, 100% 100%);
    background-color: $black;
  }
  &-rating:after{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 1;
    clip-path: polygon(0 0, 0 47%, 33% 0);
    background-color: $black;

  }
  &-rating-stars{
    display: flex;
    flex-direction:row;
  }
  &--rating-star {
    display: flex;
  }
}

/* Round price box  */
.furniture-gallery-slider-item-price {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left:25%;
  width:105px;
  height: 105px;
background-color: $gray-600;
  opacity: 70%;
  border-radius: 50%;
}
.furniture-gallery-slider-item-price-text {
  margin-bottom: 1px;
}
/*Aside Section */
.furniture-gallery-slider-item-side-section {
  display:flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  position: absolute;
  top:30%;
}
.furniture-gallery-slider-item-side-item {
  width:37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:solid 2px $black;
  color:$black;
  margin:8px;
  &:hover {
    border: solid 3px $orange;
  }
  &:hover &-icon{
      color:$orange;
    }

  }
// SIDE BANNER SECTION //////////////////////////////////////////

.furniture-gallery-side-banner {

  display:none;

  @media (min-width: $big-tablet)  {
    width:100%;
    max-height:650px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:$gray-200;

    &-texts {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-top: 10%;
      padding-left: 10%;
    }
    &-image {
      padding-bottom: 5%;
    }
    &-from {
      font-weight: bold;
      text-transform: uppercase;
    }
    &-price {
      font-size: 2.5em;
      color:$green;
    }
    &-item {
      font-size: 3em;
      color:$orange;
    }
    &-button{
      background-color: $green;
      color: ($white !important);
      width:30%;
      padding: 10px;
      text-transform: uppercase;
      &:hover {
        color:($white !important);
        background-color: $orange;
        cursor: pointer;
      }
    }



  }






}


