// variables declaration
@import "variables";
ul {
  list-style: none;
  padding-inline-start: 0;
}
.header-icon {
 color: $orange;
  font-size: 30pt;
  padding-right: 13px;
}
.header-phone {
  font-size: 17px;
}
.header-icon-link {
  text-decoration: none;
  color:$white;
  &:hover {
    color:$white;
    text-decoration:underline;
  }
}
.shop-navigation-menu{
  display:flex;
  width:90%;
  justify-content: space-between;
  margin: auto;
}
.header-basket-background {
  background-color: $orange;
  width:50px;
  height: 50px;
  position:relative;
  border-radius: 4px;
}
.header-basket-counter {
  display: inline-block;
  position: absolute;
  width:28px;
  height: 28px;
  top:25%;
  right: -30%;
  background-color:$gray-800;
  color:$white;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  padding: 3px;
}
.header-basket-icon {
  padding-right: 5px;
}
/* MENU SECTION */
.menu-active {
  display:none;
}
.nav-menu-search {
  border: 1px solid $black;
  max-width:320px;
  padding: 5px;
  &:focus
  {outline: none;
  }
  &::placeholder{
    color:$gray-light;
  }
}
.nav-button-hide{
  display:none;
}

.nav-menu-form {
  position: relative;
}
.nav-menu-search-icon{
  position: absolute;
  right: 16px;
}
.navigation-menu-item {
  text-transform: uppercase;
  padding-left: 12px;

  &-link {
    color:$black;
    padding: 36px 4px;
  }
  &-link:hover {
    text-decoration: none;
    background-color: $orange;
    color:$white;
    border-top: 2px solid $black;

  }
}

// MEDIA QUERIES ////
@media (max-width: $tablet){
.header-icon {
  display:(none !important);
}
.header-icon-link {
  font-size:14px;
}
  .header-bazar-logo-image{
    width:114px;
    height: 53px;
  }
  .header-basket-section{
    width:50px;
    height: 43px;
  }
}

@media (max-width: $big-tablet){
  .js_nav-bar-button {
    display:flex;
  }
  .navigation-menu {
    position:relative;
  }

  .navigation-menu-items {
    z-index: 100;
    position: absolute;
    right: -5px;
    top:-25px;
    display:none;

  }
  .navigation-menu-item {
    padding: 5px 5px 6px 10px;
    background: $gray-600;
    text-align: right;
    &-link {
      color:$white;
      padding: 4px 4px;
      width:100%;
    }
    &-link:hover{
      background-color: $gray-600;
      color:$white;
      border-bottom: 1px solid $gray-light;
      border-top: none;
    }
  }
}
@media (min-width: $big-tablet){
  .navigation-menu-items {
display: flex;
  }
  .js_nav-bar-button{
    display:none;
  }
  .menu-active {
    display:inline;
    text-decoration: none;
    background-color: $orange;
    color:$white;
    border-top: 2px solid $black;
  }

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  z-index:999;
}

