@import "variables";
.header-slider {
  width:99%;
  margin: auto;
}
.header-slider-block {
  max-height: 550px;
  min-height: 330px;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
}
.header-slider-img-1 {
  background-image:url("../images/header-slider/header-slider-image-1.svg");
}
.header-slider-img-2{
  background-image:url("../images/header-slider/header-slider-image-2.jpg");
}
.header-slider-block-inner-text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  margin: 35px 17px;
  padding: 44px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}
.header-carousel {
  position:relative;
  width:100%;
  padding:0;
}
.header-carouser-button {
  position: absolute;
  top:91.5%;
  bottom: 0;
  width: 50%;
  height: 35px;
  opacity: 1;
  background-color: $gray-800;
  &:hover{
    background-color: $orange;
  }
}
.header-slider-heading {
  font-size: 31px;
}
.header-slider-subheading{
  font-size: 18px;
}