@import "variables";
.modal-position {
  top:30%;
}
// Registration Modals //
.module-header-registration,.module-header-login{
  border-bottom: none;
  &-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
    margin-top: 20px;
  }
  &-close {
    padding:(12px 18px !important);
    background-color: ($black !important);
    color:$white;
    opacity: 1;
    &:hover{
      color:$white;
      background-color: ($orange !important);
    }
  }
  &-field{
    border: 1px solid $gray-light;
    width: 70%;
    color: $gray-light;
    outline: none;
    &:focus{
      outline: none;
    }
    &::placeholder{
      color: $gray-light;
    }
  }
  &-button{
    background-color: $black;
    color:$white;
    text-transform: uppercase;
    &:hover{
      cursor: pointer;
      color:$white;
    }
  }
}
// Login Modals Window //