@import "variables";
.product-modal-close {
  padding:(12px 18px !important);
  background-color: ($black !important);
  color:$white;
  opacity: 1;
  &:hover{
    color:$white;
    background-color: ($orange !important);
  }
}
.product-details-modal-wrapper{
  display:flex;

}
.product-details-modal-wrapper-image {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.product-details-modal-image{
  width:250px;
  height: 250px;
  background-color:$gray-200;
}
.product-details-modal-title{
  font-size: 22px;
  font-weight: bold;
}
.product-details-modal-review-section {
  display:flex;
  width:100%;
  justify-content: flex-start;
  color:$gray-600;
  margin-bottom: 17px;
  border-bottom: 1px solid $gray-light;
}
.product-details-modal-review-description {
  padding-left: 1%;
}
.product-details-modal-price {
  margin-top: 22px;
  margin-bottom:40px ;
}
.product-details-modal-price-old {
  color: $gray-light;
  font-size: 1.3em;
  margin: 0;
  padding: 0;

}
.product-details-modal-price-new {
  font-size: 1.3em;
  margin: 0;
  padding: 5px;
  background-color: $black;
  color: $white;
}
.product-details-modal-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-light;
}
.product-details-modal-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 37px;
  background-color: $orange;
  color: $white;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
  &:hover{
    background-color: $orange;
    color: $white;
    text-decoration: none;

  }
}
.product-details-modal-add-heart {
  width:37px;
  height: 37px;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border:solid 2px $black;
  color:$black;
  margin-left: 8px;
  &:hover {
    border: solid 3px $orange;
    text-decoration: none;
  }
  &:hover &-icon{
    color:$orange;
    text-decoration: none;
  }

}
.product-details-modal-overview-section {
  margin-top:15px;
}
.product-details-modal-overview-section-title {
  color:$gray-600;
  font-size: 15pt;
  font-weight: bold;
}
.product-details-modal-overview-section-description {
  color:$gray-600;
}

.product-details-modal-overview-category {
  display:flex;
  flex-direction: row;
  color:$gray-600;
  font-size: 14px;
  justify-content: flex-start;
  padding-bottom: 26px;
  border-bottom: 1px solid $gray-light;
  &-availability {
    margin-right: 12px;
  }
}
.product-details-modal-social {
  margin-top: 27px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product-details-modal-social-btn {
  border-radius: 0;
  margin-top:6px;
  margin-bottom: 6px;
  margin-right: 6px;
  border: 1px solid $black;
}

@media (min-width: $big-tablet){
  .product-details-visible{
    max-width:(1100px !important);
  }
  .product-details-modal-image{
    width:420px;
    height: 436px;
    background-color:$gray-200;
  }
}