@import "variables";

// BASKET IMAGES  add images from GALLERY//
//.basket-modal-item {
//  &-1 {
//    background-image: url("../images/furniture-items/furniture-item-1.svg");
//  }
//}


/* MODAL FULL BASKET */
.basket-modal {
  &-header {
    border-bottom: none;
  }
  &-close {
    padding:(12px 18px !important);
    background-color: ($black !important);
    color:$white;
    opacity: 1;
    &:hover{
      color:$white;
      background-color: ($orange !important);
    }
  }
}
/* Product Added BASKET */
.product-added {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 2px solid $gray-light;
  padding: 14px;

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-item-image {
    width: 40%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
    &-item-pic {
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &-item-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 55%;
    }

    &-item-title {
      font-weight: bold;
      text-transform: capitalize;
      font-size: 1.5em;
      padding: 0;
      margin: 0;
    }

    &-item-old-price {
      color: $gray-light;
      font-size: 1.5em;
      margin: 0;
      padding: 0;
    }

    &-item-new-price {
      font-size: 1.5em;
      margin: 0;
      padding: 5px;
      background-color: $black;
      color: $white;
    }

    &-quantity {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-quantity-section {
      display: flex;
      flex-direction: column;
    }

    &-quantity-text {
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 14px;
    }

    &-quantity-wrapper {
      display: flex;
      flex-direction: row;
    }

    &-quantity-input {
      padding: 5px;
      width: 73px;
      height: 37px;
      margin-right: 7px;

      &::placeholder {
        text-align: center;
      }
    }

    &-quantity-btn {
      margin-right: 7px;
      width: 40px;
      height: 37px;
      border: 1px solid $black;
      color: $black;

      &:hover {
        border: 1px solid $orange;
        color: $orange;
      }
    }

    &-sum {
      margin-top: 10px;
      text-align: center;
    }

    &-sum-text {
      color: $gray-light;
      font-size: 22px;
    }

    &-sum-number {
      font-weight: 600;
      font-size: 22px;
    }
  }



//OTHER
.basket-modal-footer{
  border-top: (none !important);
}
.basket-modal-total {
  width:90%;
  margin:auto;
  text-align: right;
}
.basket-modal-total-text{
  font-size: 16pt;
  padding-top: 25px;
  padding-bottom: 21px;

}
//buttons:
.basket-modal-footer{
  display:flex;
  width:98%;
  margin:auto;
  justify-content: space-between;
  &-btn {
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    color:$white;
    border-radius:0;
    &:hover{
      color:$white;
    }
  }
  &-btn-continue{
    background-color: $gray-600;
  }
  &-btn-buy{
    background-color: $orange;
  }
}
.footer-btn-continue-text{
  padding-left: 5px;
}

@media (min-width: $tablet) and (max-width: $big-tablet) {
  .basket-modal-visible {
   max-width:(800px !important);
  }
  .product-added-quantity {
    justify-content: flex-end;
  }
  .product-added-item-title-prices {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
  }
  .product-added-quantity-section{
    margin-right: 12%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
   .product-added-item-new-price{
     margin-left: 5px;
     font-size: 20px;
   }
  .product-added-quantity-wrapper {
    margin-left: 5px;
  }
  .product-added-sum{
    margin-top:0;
  }
  .product-added-item-description{
    width:70%;
  }
}
@media (min-width:$big-tablet) {
    .product-added {
      display: flex;
      align-items: center;
      padding: 30px;
    }

  .basket-modal-visible {
    max-width:(1140px !important);
  }
.product-added-item-description{
  display:flex;
  flex-direction: column;
  width:60%;
  align-items: flex-start;
  justify-content: center;
}
  .product-added-item-title-prices{
    display:flex;
    flex-direction: row
  }
  .product-added-item-new-price{
    margin-left: 5px;
    font-size: 20px;
  }
  .product-added-quantity {
    align-items: flex-end;
  }
  .product-added-quantity-section{
    margin-right: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .product-added-quantity-wrapper {
    margin-left: 5px;
  }
  .product-added-sum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
  }
  .basket-modal-footer {
    width:90%;
    margin: auto;
  }

}
// EMPTY BASKET
.modal-basket-empty{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $gray-light;
  &-text-title {
    text-align: center;
    font-size: 3.5em;
    padding: 1%;
  }
  &-text-description {
    text-align: center;
    font-size: 2em;
    padding-bottom: 2%;
  }
}