.product-gallery {


  &__title {
    font-size: 1.25rem; //20px
    color: $black;
    font-weight: bold;
  }

  &__title-decoration-line {
    background-color: $black;
  }

//  Load More
  &__load-more {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 2px 8px $text-secondary;
  }

  &__load-more-icon-move {
    animation-name: loadRotation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes loadRotation {
    from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
}
  }


}

.product-furniture-gallery {

  a:hover {
    text-decoration: none;
  }

  &__item {
    width: 30%;
    margin-bottom: 30px;

    &:hover .product-furniture-gallery__item-img-view,
    &:hover .product-furniture-gallery__item-img-add {
      bottom: 0;
    }

    &:hover .product-furniture-gallery__item-title {
      color: $text-hover;
    }
    &:hover .product-furniture-gallery__item-addinfo-price {
      background-color: $text-hover;
    }

  }

  &__item-img-sale {
    top: -50px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 14px;
    transition: 0.5s top;
    background-color: $background-secondary;
    color: $white;
  }

  &__item-img-sale-text {
    padding-top: 20px;
  }

  &__item-img-container {
    overflow: hidden;
    height: 260px;
    z-index: 111;
    background-color: #f4f5f7;

    &:hover .product-furniture-gallery__item-img-sale {
        top: -22px;
    }

  }

  &__item-img {
    height: 70%;

  }

  &__item-info-container {
    border: 1px solid #e2e2e2;


  }

  &__item-img-view,
  &__item-img-add {
    bottom: -40px;
    padding: 8px 8px;
    background-color: $background-secondary;
    transition: 0.5s bottom;
    color: $white;
    font-size: 14px;

    &:hover {
      color: $white;
    }
  }
  &__item-img-view {
    left: 0;
  }
  &__item-img-add {
    right: 0;
  }

  &__item-title {
    font-weight: 600;
  }

  &__item-rating-star {
    margin: 0 2px;
  }

  &__item-info-decoration-line {
    background-color: $black;
  }


  &__item-addinfo-action {
    width:37px;
    height: 37px;
    border: solid 2px $black;
    color: $black;

    &:hover {
      border: solid 3px $orange;
    }
    &:hover &-icon{
      color: $orange;
    }

  }

  &__item-addinfo-price {
    padding: 0 8px;
    font-size: 14px;
    background-color: $background-secondary;
    color: $white;

  }

}


// Filters
.product-filter-category {

  &__item {
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    &:hover .product-filter-category__item-name {
      color: $text-hover;
    }
    &:hover .product-filter-category__item-quantity {
      background-color: $text-hover;
    }

  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item-quantity {
    width:20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: $background-secondary;
    color: $white;
  }
}




// Color filters:
.product-filter-color__item {
  cursor: pointer;
  &:hover {
    color: $text-hover;
  }
}

.product-filter-color__item label,
.product-filter-color__item input {
  cursor: pointer;
}

#color-red:checked ~ .custom-control-label::before {
  border-color: #ff0000;
  background-color: #ff0000;
}
#color-black:checked ~ .custom-control-label::before {
  border-color: $black;
  background-color: $black;
}

#color-yellow:checked ~ .custom-control-label::before {
  border-color: #cfcf00;
  background-color: #cfcf00;
}

#color-blue:checked ~ .custom-control-label::before {
  border-color: #0000ff;
  background-color: #0000ff;
}

#color-pink:checked ~ .custom-control-label::before {
  border-color: #ffc0cb;
  background-color: #ffc0cb;
}

#color-green:checked ~ .custom-control-label::before {
  border-color: #008000;
  background-color: #008000;
}


// Filter Size
.product-filter-size__item,
.product-filter-size__item input,
.product-filter-size__item label {
  cursor: pointer;
}

.product-filter-size__item input:checked ~ .custom-control-label::before {
  border-color: $text-decoration;
  background-color: $text-decoration;
}


// Filter Tags

.product-filter-tags {

  &__item {
    cursor: pointer;
    padding: 6px 16px;
    margin: 10px;
    border: 1px solid $text-secondary;
    color: $text-secondary;

    &:hover {
      border: 1px solid $text-hover;
      color: $text-hover;
    }
  }

}


// Filter price

.product-filter-price {
  label {
    margin-bottom: 0;
    cursor: pointer;
  }
  &__price-filter,
  &__price-range {
    cursor: pointer;
    padding: 6px 16px;
    border: 1px solid $text-secondary;

    &:hover {
      background-color: $text-hover;
      border-color: $text-hover;
      color: $white;
    }
  }
}


.filters-button {
  border: 1px solid $text-secondary;
  display: inline-block;
  padding: 6px 16px;
}


// Modals
.filter-btn-exit {
  text-align: center;
  width: 40px;
  height: 40px;
  white-space: nowrap;
  line-height: 40px;
  background-color: $background-secondary;
  color: $white;

}

#color-red-modal:checked ~ .custom-control-label::before {
  border-color: #ff0000;
  background-color: #ff0000;
}
#color-black-modal:checked ~ .custom-control-label::before {
  border-color: $black;
  background-color: $black;
}

#color-yellow-modal:checked ~ .custom-control-label::before {
  border-color: #cfcf00;
  background-color: #cfcf00;
}

#color-blue-modal:checked ~ .custom-control-label::before {
  border-color: #0000ff;
  background-color: #0000ff;
}

#color-pink-modal:checked ~ .custom-control-label::before {
  border-color: #ffc0cb;
  background-color: #ffc0cb;
}

#color-green-modal:checked ~ .custom-control-label::before {
  border-color: #008000;
  background-color: #008000;
}




// Modal product details
.product-modal-image {
  width: 100%;
}

.modal-footer {
  border-top: none;
}

.product-modal-socials-item {
  padding: 10px;
  white-space: nowrap;
  margin: 0 5px;
  border: 1px solid $text-secondary;
  border-radius: 2px;
  color: $text-secondary;

  &:hover {
    background-color: #3b5998;
  }

  &:hover > a,
  &:hover .product-modal-socials-item-icon {
    color: #ffffff;
  }


}

.product-modal-socials-item a {
  text-decoration: none;
}

.product-modal-socials-item-icon {
  padding-right: 8px;
}

.product-modal-socials-item-fb{
  color: #3b5998;

}
.product-modal-socials-item-gl{
  color: #d93e32;
}
.product-modal-socials-item-tw{
  color: #4099ff;
}
.product-modal-socials-item-pt{
  color: #d03f45;
}
.product-modal-socials-item-in{
  color: #0077b5;
}


