@import "variables";
.shop-benefits {
  margin-top:24px;
  display: flex;
  justify-content: space-between;
  align-content: center;


}
.shop-benefits-item-wrapper {
display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}

.shop-benefits-item {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  text-decoration: none;
  color:$black;
  margin-top:63px;
  width:100%;



  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:-30px;
    background: $white;
    border-radius:50%;
    height:76px;
    width:76px;
    border:double 7px $black;
    text-align:center;
    color:black;
    font-size: 25px;
  }
  &-text {
    text-align: center;
    padding: 56px 30px 22px;
    border:1px solid $gray-600;
    width: 100%;
  }
  &-text-line {
    display: block;
    font-size: 14px;
  }
  &:hover {
    color:$orange-light;
    text-decoration: none;
  }
  &:hover &-icon {
    border-color: $white;
    background: $orange;
    color:$white;
  }
}
