.stocks {
  &__offer1-outer {
    cursor: pointer;
    background: url("../images/stocks/1.jpg") no-repeat;
    background-size: cover;

    &:hover {
      text-decoration: none;
    }
  }

  &__offer1-inner {
    height: 22.1875rem;  //355px
    display: flex;
    align-items: flex-end;
    background-color: rgba(0,0,0,.4);

  }

  &__offer1-inner-content {
    margin: 1.875rem; //30px
    color: $white;
  }

  &__offer1-inner-content-subtitle {
    font-size: 2.1875rem; //35px
    font-weight: 700;
  }

  &__offer1-inner-content-title {
    font-size:  2.875rem;  //46px
    font-weight: 800;
  }

  &__offer1-inner-content-price {
    font-size: 1.875rem; //30px
    font-weight: 800;
    border: 5px solid $white;
  }

  // Offer 2
  &__offer2-outer {
    color: $black;
    cursor: pointer;
    height: 47%;
    background-color: #e8edf7;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &__offer2-inner-title1 {
    font-weight: 800;
  }

  &__offer2-inner-subtitle {
    font-weight: 700;
    letter-spacing: 0.1875rem; //3px
  }

  &__offer2-inner-price {
    font-weight: 800;
    color: $text-decoration;
  }

  &__offer2-inner-img1 {
    width: 28%;
  }

  &__offer2-inner-img2 {
    transform: scaleX(-1);
    width: 28%;
  }


  // Offer 3
  &__offer3-outer {
    cursor: pointer;
    height: 47%;
    background-color: #fbf3f7;

    &:hover {
      text-decoration: none;
    }
  }
  &__offer3-inner-title {
    color: $text-decoration;
    font-size: 1.375rem; //22px
  }

  &__offer3-inner-title1 {
    font-weight: 800;
  }

  &__offer3-inner-subtitle {
    color: $black;
    font-weight: 500;
  }
  &__offer3-inner-img1 {
    transform: scaleX(-1);
    width: 50%;
  }


}
