.subscribe {
  background-color: #f2f2f2;
  &__email-title {
    color: $text-decoration;
    font-size: 1.25rem; // 20px
    font-weight: 700;
  }

  &__btn {
    background-color: $white;
    color: $text-decoration;
  }

  &__btn-envelope {
    color: $text-decoration;
  }

}

.input-group-text {
  background-color: #ffffff;
  border: none;
}

.form-control {
  border: 1px solid $white;
}

.fa-envelope:before {
  border-right: 1px solid $text-secondary;
  padding-right: 15px;
}