$background-primary:#363636; // gray
$background-secondary:#2a2a2a;// gray-dark
$text-decoration: #d58e32; //orange
$text-hover:#d58e32; //orange
$text-primary: #2a2a2a; // dark-gray
$text-secondary: #989898; // light-gray
$decoration-secondary: #79ae30; // light-green

$black: #000000;
$white: #ffffff;

//colors:
$gray-600:#434343; //class gray
$gray-800:#363636;//class gray-dark
$gray-200:#f4f5f7;
$gray-light: #b1b1b1;
$orange:#d58e35;
$orange-light:#e0a38e;
$black: #000000;
$white: #ffffff;
$green:#79ae30;

//styles
.bg-dark-grey {
background-color:$gray-800;
}
.bg-dark-orange {
  background-color:$orange;
}

// mediaQueries
$phone: 480px;
$tablet: 768px;
$big-tablet:990px;
$desktop: 1200px;