// variables declaration
@import "variables";
// IMPORT BOOTSTRAP //
@import "../../../node_modules/bootstrap/scss/bootstrap";

//Range button
@import "multirange.css";

// import components
@import "header";



@import "header-slider";
@import "shop-benefits";
@import "stocks";
@import "product-gallery";
@import "furniture-gallery";
@import "blog-gallery";
@import "subscribe";
@import "footer-navigation";
@import "footer";
@import "modals-login-registration";
@import "modals-basket";
@import "modals-product-furniture-item";


// FONT SETUP//

@font-face {
  font-family: "Invisible";
  src: url("../fonts/Invisible-Light.otf") format("otf"),
  url("../fonts/Invisible-Medium.otf") format("otf");
}



// General Settings
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html, body {
  text-rendering: optimizeLegibility;
  font-family: Invisible, sans-serif;
}


ul {
  list-style: none;
  padding-inline-start: 0;
}

* {
  font-family: Invisible, sans-serif;
}
